<div class="container">
  <div class="header__title">
    <div class="row">
      <div class="col-xs-6">
        <h1>
          <span class="partA">Managing claims</span><br>
          <span class="partB">made easy</span>
        </h1>
        <h4>A simple claim manager for a simple life.</h4>
        <button class="btn--text" (click)="onScrollTo(target)">
          Learn more &DownArrow;
        </button>
      </div>
      <div class="col-xs-6 offset-md-2">
        <img
          src="assets\img\homepage.png"
          class="header__img"
          alt="svg image"
        />
      </div>
    </div>
  </div>

  <div class="section margin-section" id="section--1" #target>
    <div class="row">
      <div class="col-xs-12 offset-md-2">
        <div class="section__title">
          <h2 class="section__description">Features</h2>
          <h3 class="section__header">
            Managing claims has never been so easy.
          </h3>
        </div>
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col-xs-6 col-md-6">
        <img
          src="../../assets/img/Easy-to-Use.png"
          data-src="../../assets/img/digital.jpg"
          alt="Computer"
          class="features__img lazy-img"
        />
      </div>

      <div class="col-xs-6 col-md-6 d-flex justify-content-center">
        <div class="features__feature">
          <div class="features__icon">
            <svg>
              <use xlink:href="../../assets/img/icons.svg#icon-monitor"></use>
            </svg>
          </div>
          <h5 class="features__header">Easy to use</h5>
          <p>
            With the increasing number of lifestyle diseases today, the cost of hospitalization
            and healthcare expenses are touching the roof. By buying a mediclaim policy,
            you can get financial support during hospitalization in case of a medical emergency.
          </p>
        </div>
      </div>
    </div>


    <div class="row justify-content-end margin-grid-row">
      <div class="col-xs-6 col-md-6 justify-content-center d-flex">
        <div class="features__feature">
          <div class="features__icon">
            <svg>
              <use
                xlink:href="../../assets/img/icons.svg#icon-credit-card"
              ></use>
            </svg>
          </div>
          <h5 class="features__header">View all your claims</h5>
          <p>
            There are different types of mediclaim policies available in India.
            You can choose the policy as per your health needs and avail medical treatment
            with peace of mind. Log in and have a look at the various types of mediclaim plans.
          </p>
        </div>
      </div>

      <div class="col-xs-6 col-md-6">
        <img
          src="../../assets/img/View_Claims.png"
          data-src="../../assets/img/digital.jpg"
          alt="Computer"
          class="features__img lazy-img"
        />
      </div>
    </div>

    <div class="row justify-content-end margin-grid-row">
      <div class="col-xs-6 col-md-6">
        <img
          src="../../assets/img/Track-Claims.png"
          alt="Computer"
          class="features__img lazy-img"
        />
      </div>

      <div class="col-xs-6 col-md-6 justify-content-center d-flex">
        <div class="features__feature">
          <div class="features__icon">
            <svg>
              <use
                xlink:href="../../assets/img/icons.svg#icon-trending-up"
              ></use>
            </svg>
          </div>
          <h5 class="features__header">Track you claim status</h5>
          <p>
            Although there are many mediclaim policies offered by different insurance companies.
            You can track your claims just by your MemberID.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

