<footer class="footer">
  <ul class="footer__nav">
    <li class="footer__item">
      <a class="footer__link" href="#">About</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Pricing</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Terms of Use</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Privacy Policy</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Careers</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Blog</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Contact Us</a>
    </li>
  </ul>
  <div class="logo">
    <a routerLink="/home"
      ><img
        src="assets\img\logo 2.png"
        class="brand-logo"
        alt="brand logo"
    /></a>
  </div>
  <p class="footer__copyright">&copy; All rights reserved.</p>
</footer>


