<div class="header">
  <nav
    class="nav navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top"
  >
    <a class="navbar-brand" routerLink="home"
      ><img
        src="../../assets/img/logo 2.png"
        class="brand-logo"
        alt="brand logo"
      /><b style="color:#ffffff">MediClaim</b></a
    >
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav-items">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="home" style="color:#ffffff"><b>Home</b></a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="this.isValidUser()==false">
          <a class="nav-link" routerLink="auth" style="color:#ffffff" box-sizing="border-box"><b>Login</b></a>
        </li>

        <li class="nav-item" routerLinkActive="active" *ngIf="this.isValidUser()==true">
          <a class="nav-link" routerLink="viewClaims" style="color:#ffffff"><b>View Bills</b></a>
        </li>

        <li class="nav-item" routerLinkActive="active" *ngIf="this.isValidUser()==true">
          <a class="nav-link" routerLink="getClaimStatus" style="color:#ffffff"><b>Claim Status</b></a>
        </li>

        <li class="nav-item" routerLinkActive="active" *ngIf="this.isValidUser()==true">
          <a class="nav-link" routerLink="submitClaim" style="color:#ffffff"><b>Submit Claim</b></a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="this.isValidUser()==true" (click)="onLogout()">
          <a class="nav-link " style="color:#ffffff"><b>Logout</b></a></li>
      </ul>
    </div>
  </nav>
</div>
